<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegistroApp">

        <!-- Pantalla de Login (primera pantalla) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla de Registro -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Pantalla del Foro -->
        <activity
            android:name=".ForoActivity"
            android:exported="false" />

        <!-- Crear Tema -->
        <activity
            android:name=".CrearTemaActivity"
            android:exported="false" />

        <!-- Detalle del Tema -->
        <activity
            android:name=".DetalleTemaActivity"
            android:exported="false" />

        <!-- Favoritos -->
        <activity
            android:name=".FavoritosActivity"
            android:exported="false" />

    </application>
</manifest>